.TwoSided {
    display: flex;
}

.TwoSided-left, .TwoSided-right {
    display: flex;
    align-items: center;
}

.TwoSided-left {
    margin-right: auto;
}

.TwoSided-right {
    margin-left: auto;
}
