.LoginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.LoginForm form {
    width: 300px;
    display: inline-block;
}

.LoginForm-field {
    width: 100%;
    margin: 10px 0;
}

.LoginForm-field label {
    display: inline-block;
    width: 30%;
}

.LoginForm-field input {
    display: inline-block;
    width: 65%;
}

.LoginForm-field_center {
    text-align: center;
}

.LoginForm-error {
    color: red;
}